[submodule "rpg/mechsimul2"]
	path = rpg/mechsimul2
	url = https://github.com/UlyssesZh/mechsimul-js.git
[submodule "rpg/typhm"]
	path = rpg/typhm
	url = https://github.com/UlyssesZh/typhm.git
[submodule "doc/alda-rb"]
	path = _public/doc/alda-rb
	url = https://github.com/UlyssesZh/alda-rb.git
	branch = doc
[submodule "doc/google-play"]
	path = _public/doc/google-play
	url = https://github.com/UlyssesZh/google-play.git
	branch = doc
[submodule "_public/tools/eatcat"]
	path = _public/tools/eatcat
	url = https://github.com/Atopos1331/eatcat.git
