---
title: Ulysses' trip
author: UlyssesZhan
timezone: America/Los_Angeles
collections:
  posts:
    title: Posts
    output: true
  uploads:
    title: Uploads
    output: true
email: ulysseszhan@gmail.com
tagline: Somewhere with strange thoughts
description: Here we are at the awesome (awful) blog written by UlyssesZhan!
baseurl: ''
url: https://UlyssesZh.github.io
markdown: kramdown
kramdown:
  auto_ids: true
header_pages:
- my_pages/about.md
- my_pages/archives.html
- my_pages/contact.md
- my_pages/friends.md
theme: minima
minima:
  date_format: "%b %-d, %Y"
future: true
plugins:
- jekyll-feed
- jekyll-sitemap
- jekyll-archives
exclude:
- LICENSE
- LICENSE.md
- README.md
- Gemfile
- Gemfile.lock
- ".git/"
- ".idea/"
- ".rubocop.yml"
- publish.sh
measurement_id: G-7TSJ5VM6YC
webmaster_verifications:
  google: ZuV45Knwuwl49Nvh9UsDzniZ-3qy3bGhBPofLK3SZPw
  baidu: zBiGMiCwrA
  bing: 5E8C434CB5D1F1948B192273BA4BD084
tagmanager_id: GTM-5PX967D
twitter_username: UlyssesZhan
github_username: UlyssesZh
facebook_username: YouqiuZhan
instagram_username: ulysseszhan
pinterest_username: ulysseszhan
flickr_username: UlyssesZhan
jekyll-archives:
  enabled: all
  layout: archive
  layouts:
    year: year-archive
    month: month-archive
    day: day-archive
    category: tag-category-archive
    tag: tag-category-archive
  permalinks:
    year: "/archives/:year/"
    month: "/archives/:year/:month/"
    day: "/archives/:year/:month/:day/"
    tag: "/archives/tag/:name/"
    category: "/archives/category/:name/"
rpg-map:
  enabled:
  - test
