{% if paginator and paginator.total_pages > 1 %}
<ul class="pager">
	{% if paginator.previous_page %}
	{% if paginator.first_page %}
	<li class="previous">
		<a href="{{ paginator.first_page_path }}">&lt;&lt;</a>
	</li>
	{% endif %}

	<li class="previous">
		<a href="{{ paginator.previous_page_path }}">&lt;</a>
	</li>
	{% endif %}

	{% if paginator.page_trail %}
	{% for trail in paginator.page_trail %}
	<li {% if page.url==trail.path %}class="selected" {% endif %}>
		<a href="{{ trail.path }}" title="{{trail.title}}">{{ trail.num }}</a>
	</li>
	{% endfor %}
	{% endif %}

	{% if paginator.next_page %}
	<li class="next">
		<a href="{{ paginator.next_page_path }}">&gt;</a>
	</li>

	{% if paginator.last_page %}
	<li class="previous">
		<a href="{{ paginator.last_page_path }}">&gt;&gt;</a>
	</li>
	{% endif %}
	{% endif %}
</ul>
{% endif %}
