{% assign posts = include.posts | default: paginator.posts %}
{% include paginator-navigator.html %}
<ul class="post-list">
  {%- for post in posts -%}
  <li>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | markdownify_no_p }}
      </a>
    </h3>

    {%- if site.show_excerpts -%}
      {% if post.excerpt and post.excerpt != "" %}
        <p>
          {% if post.image %}
            <img src="{{ post.image }}" style="float: right; padding-left: 12px; padding-bottom: 12px" width="64">
          {% endif %}
          {{ post.excerpt | markdownify_no_p }}
        </p>
      {% endif %}
      <ul>
        <li>Categories:
          {% for category in post.categories %}
          <a href="/archives/category/{{ category | slugify }}">{{ category }}</a>{% unless forloop.last %}, {% endunless -%}
          {% endfor %}
        </li>
        <li>Tags:
          {% for tag in post.tags %}
          <a href="/archives/tag/{{ tag | slugify }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless -%}
          {% endfor %}
        </li>
      </ul>
    {%- endif -%}
  </li>
  {%- endfor -%}
</ul>
{% include paginator-navigator.html %}
