@charset "utf-8";

$base-font-family: "Noto Sans", "Noto Sans CJK SC", "Times New Roman", 宋体 !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$spacing-unit:     30px !default;

$text-color:       #665e7b !default;
$background-color: #fefbf1 !default;
$brand-color:      #db3168 !default;
$kbd-border-color: #cccccc !default;
$kbd-color: #333333 !default;
$kbd-background-color: #f7f7f7 !default;
$pager-border-color: #665e7b !default;
$pager-color: #665e7b !default;
$pager-selected-color: #fefbf1 !default;
$pager-background-color: #fefbf1 !default;
$pager-selected-background-color: #f1b4b4 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$text-color-dark: #8c84a1 !default;
$background-color-dark: #0e0b01 !default;
$brand-color-dark: #ce245b !default;
$kbd-border-color-dark: #333333 !default;
$kbd-color-dark: #cccccc !default;
$kbd-background-color-dark: #080808 !default;
$pager-border-color-dark: #8c84a1 !default;
$pager-background-color-dark: #0e0b01 !default;
$pager-selected-background-color-dark: #b21b4b !default;

$table-text-align: left !default;
$content-width:    800px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

@import "my-theme";
