@charset "utf-8";
// Modified begin
$base-font-family: "Times New Roman", 宋体 !default;
// Modified end
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$spacing-unit:     30px !default;
// Modified begin
$text-color:       #665e7b !default;
$background-color: #fefbf1 !default;
$brand-color:      #db3168 !default;
// Modified end
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$table-text-align: left !default;
$content-width:    800px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
