$darkMode: true; // whether detect dark mode

@mixin darkMode {
	@if($darkMode) {
		@media(prefers-color-scheme: dark) {
			@content;
		}
	}
}

kbd {
	margin: 0px 0.1em;
	padding: 0.1em 0.6em;
	border-radius: 3px;
	border: 1px solid $kbd-border-color;
	color: $kbd-color;
	line-height: 1.4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	display: inline-block;
	position: relative;
	top: -2px;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px #ffffff;
	background-color: rgb(247, 247, 247);
	-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-shadow: 0 1px 0 #fff;
}

ul.pager {
	text-align: center;
	list-style: none;
}
ul.pager li {
	display: inline;
	padding: 5px;
	background-color: $pager-background-color;
	&.selected {
		a {
			font-weight: bold;
		}
	}
}

hr {

	border: 0;
	height: 2px;
	width: 50%;
	position: relative;
	margin: 30px auto;
	overflow: visible;
	background-image: linear-gradient(to right, rgba($hr-background-color, 0), rgba($hr-background-color, 1), rgba($hr-background-color, 0));
	//background: $hr-background-color;

	&:before {
		content: "\2665";
		color: $hr-background-color;
		display: inline-block;
		position: absolute;
		top: 0px;
		left: 50%;
		margin: 0 0 0 -3px;
		font-size: 15px;
		line-height: 0;
	}
}

.highlight {
	.k {
		color: $text-color
	}

	.o {
		color: $text-color
	}

	.ge {
		color: $text-color
	}

	.gs {
		color: $text-color
	}

	.kc {
		color: $text-color
	}

	.kd {
		color: $text-color
	}

	.kp {
		color: $text-color
	}

	.kr {
		color: $text-color
	}

	.ow {
		color: $text-color
	}

	.py {
		color: $text-color
	}

	.p {
		color: $text-color
	}
}

code {
	color: $text-color
}

@include darkMode {
	body {
		color: $text-color-dark;
		background-color: $background-color-dark;
	}

	a {
		color: $brand-color-dark;

		&:visited {
			color: lighten($brand-color-dark, 15%);
		}

		&:hover {
			color: $text-color-dark;
		}
	}

	blockquote {
		color: $grey-color;
	}

	.highlighter-rouge {
		filter: invert(1) hue-rotate(180deg);
	}
	
	.dark-adaptive {
		filter: invert(1) hue-rotate(180deg);
	}

	table {
		color: darken($text-color-dark, 18%);

		tr {
			&:nth-child(even) {
				background-color: darken($grey-color-dark, 15%);
			}

			&:nth-child(odd) {
				background-color: $background-color-dark;
			}
		}

		th {
			background-color: darken($grey-color-dark, 3%);
			border: 1px solid lighten($grey-color-dark, 4%);
			border-bottom-color: lighten($grey-color-dark, 12%);
		}

		td {
			border: 1px solid $grey-color-dark;
		}
	}

	.site-header {
		border-top: 5px solid $grey-color-light;
		border-bottom: 1px solid $grey-color-dark;
	}

	.site-title {

		&,
		&:visited {
			color: $grey-color-light;
		}
	}

	.site-nav {
		.page-link {
			color: $text-color-dark;
		}
	}

	.footer-col-wrapper {
		color: $grey-color;
	}

	.post-meta {
		color: $grey-color;
	}

	.site-footer {
		border-top: 1px solid $grey-color-dark;
	}

	hr {
		background-image: linear-gradient(to right, rgba($hr-background-color-dark, 0), rgba($hr-background-color-dark, 1), rgba($hr-background-color-dark, 0));
		&:before {
			color: $hr-background-color-dark;
			//border: 2px solid $hr-background-color-dark;
		}
	}
}
