$base-font-family: "Noto Sans", "Noto Sans CJK SC", sans-serif, "Times New Roman", 宋体;
$code-font-family: monospace;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: 30px;
