.site-header {
	z-index: 1; // Otherwise it's behind KaTeX
}

hr {
	margin: $spacing-unit auto;
}

blockquote {
	font-style: initial;
	font-size: inherit;
	letter-spacing: initial;
	i, em {
		font-style: italic;
	}
}

pre.highlight {
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
}

dfn {
	font-style: normal;
	font-weight: bold;
}

pre, code {
	font-size: inherit;
}

.footer-col-1, .footer-col-2, .footer-col-3 {
	width: calc(100% - (#{$spacing-unit} / 2));
}

details {
	margin-bottom: $spacing-unit * .5;
}

details[open] > summary {
	margin-bottom: $spacing-unit * .5;
}

.post-meta details {
	margin-bottom: 0px;
}

.post-meta time {
	display: block;
	margin-bottom: $spacing-unit * .5;
	text-align: left;
}

dl {
	margin-left: $spacing-unit;
}

.embed-container {
	margin-bottom: $spacing-unit * .5;
}

table {
	margin-bottom: $spacing-unit * .5;
	width: fit-content;
	text-align: initial;
	overflow-x: auto;
	position: relative;
	left: 50%;
	translate: -50%;
}
