<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

<!-- Added begin -->
{%- include google_analytics_body.html -%}
<!-- Added end -->

{%- include header.html -%}

<main class="page-content" aria-label="Content">
	<div class="wrapper">
		<!-- Added begin -->
		{%- if page.title -%}
			<h2 class="page-title">{{ page.title }}</h2>
		{%- endif -%}
		<!-- Added end -->
		{{ content }}
	</div>
</main>

{%- include footer.html -%}

</body>

</html>
