@charset "utf-8";

$lm-brand-color: #828282 !default;
$lm-text-color: #665e7b !default;
$lm-background-color: #fefbf1 !default;
$lm-code-background-color: #eeeeff !default;
$lm-link-base-color: #db3168 !default;
$lm-table-text-color: $lm-text-color !default;

$dm-brand-color: #929292 !default;
$dm-text-color: #ac94b1 !default;
$dm-background-color: #0e0b01 !default;
$dm-code-background-color: #271b20 !default;
$dm-link-base-color: #de446f !default;
$dm-link-visited-color: darken($dm-link-base-color, 12%) !default;
$dm-table-text-color: $dm-text-color !default;

$lm-kbd-border-color: #cccccc !default;
$lm-kbd-color: #333333 !default;
$lm-kbd-background-color: #f7f7f7 !default;
$lm-hr-background-color: #ffc2d5 !default;
$lm-search-color: #883e6b !default;
$lm-search-focus-color: #db5568 !default;
$lm-search-border-color: #ff92a5 !default;
$lm-search-background-color: #fff !default;
$lm-lineno-color: #bbb !default;
$lm-lineno-background-color: #eeeef0 !default;
$lm-details-background-color: #fef0f1 !default;

$dm-kbd-border-color: #333333 !default;
$dm-kbd-color: #cccccc !default;
$dm-kbd-background-color: #080808 !default;
$dm-hr-background-color: #8a2d4c !default;
$dm-search-color: #902436 !default;
$dm-search-focus-color: #c177a3 !default;
$dm-search-border-color: #862333 !default;
$dm-search-background-color: #000 !default;
$dm-lineno-color: #777 !default;
$dm-lineno-background-color: #202020 !default;
$dm-details-background-color: #1e0b10 !default;

@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);
	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}
	@return $string;
}

@function hr-image($color) {
	$svg: 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path style="fill:#{$color}" d="m 3.8525389,1.6289069 q 1.189453,0 1.8691405,1.3769532 0.2460938,0.5449218 0.2578125,0.8320313 h 0.017578 Q 6.2021481,2.8886725 6.7412106,2.2617194 7.3740231,1.6289069 8.1650393,1.6289069 q 1.224609,0 1.9628907,1.3125 0.1875,0.4863282 0.1875,0.9140625 0,1.4648438 -1.2187507,2.7949219 L 5.9970701,10.371093 H 5.9619138 L 2.6689452,6.333985 Q 1.6845701,5.1328132 1.6845701,3.8554694 q 0,-1.2363281 1.1660158,-1.9628906 0.4921874,-0.2636719 1.001953,-0.2636719 z"/></svg>';
	@return url(str-replace($svg, '#', '%23'));
}

@function summary-image($color, $thickness) {
	$svg: 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path d="M 1,5 6,10 11,5" style="fill:none;stroke:#{$color};stroke-width:#{$thickness};stroke-linecap:round;stroke-linejoin:round"/></svg>';
	@return url(str-replace($svg, '#', '%23'));
}

$lm-hr-image: hr-image($lm-hr-background-color) !default;
$lm-summary-image: summary-image($lm-text-color, 1.5px) !default;
$lm-summary-image-brand: summary-image($lm-brand-color, 1px) !default;

$dm-hr-image: hr-image($dm-hr-background-color) !default;
$dm-summary-image: summary-image($dm-text-color, 1.5px) !default;
$dm-summary-image-brand: summary-image($dm-brand-color, 1px) !default;

:root {
	--kbd-color: #{$lm-kbd-color};
	--kbd-background-color: #{$lm-kbd-background-color};
	--kbd-border-color: #{$lm-kbd-border-color};
	--hr-background-color: #{$lm-hr-background-color};
	--search-color: #{$lm-search-color};
	--search-focus-color: #{$lm-search-focus-color};
	--search-border-color: #{$lm-search-border-color};
	--search-background-color: #{$lm-search-background-color};
	--lineno-color: #{$lm-lineno-color};
	--lineno-background-color: #{$lm-lineno-background-color};
	--details-background-color: #{$lm-details-background-color};

	--hr-image: #{$lm-hr-image};
	--summary-image: #{$lm-summary-image};
	--summary-image-brand: #{$lm-summary-image-brand};
}
@media (prefers-color-scheme: dark) {
	:root {
		--kbd-color: #{$dm-kbd-color};
		--kbd-background-color: #{$dm-kbd-background-color};
		--kbd-border-color: #{$dm-kbd-border-color};
		--hr-background-color: #{$dm-hr-background-color};
		--search-color: #{$dm-search-color};
		--search-focus-color: #{$dm-search-focus-color};
		--search-border-color: #{$dm-search-border-color};
		--search-background-color: #{$dm-search-background-color};
		--lineno-color: #{$dm-lineno-color};
		--lineno-background-color: #{$dm-lineno-background-color};
		--details-background-color: #{$dm-details-background-color};

		--hr-image: #{$dm-hr-image};
		--summary-image: #{$dm-summary-image};
		--summary-image-brand: #{$dm-summary-image-brand};
	}
}

$kbd-color: var(--kbd-color);
$kbd-background-color: var(--kbd-background-color);
$kbd-border-color: var(--kbd-border-color);
$hr-background-color: var(--hr-background-color);
$search-color: var(--search-color);
$search-focus-color: var(--search-focus-color);
$search-border-color: var(--search-border-color);
$search-background-color: var(--search-background-color);
$lineno-color: var(--lineno-color);
$lineno-background-color: var(--lineno-background-color);
$details-background-color: var(--details-background-color);
$hr-image: var(--hr-image);
$summary-image: var(--summary-image);
$summary-image-brand: var(--summary-image-brand);

@import "minima/skins/auto";

@media (prefers-color-scheme: dark) {
	.dark-adaptive {
		filter: invert(1) hue-rotate(180deg);
	}
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

kbd {
	margin: 0px 0.1em;
	padding: 0.1em 0.6em;
	border-radius: 3px;
	border: 1px solid $kbd-border-color;
	color: $kbd-color;
	line-height: 1.4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: inline-block;
	position: relative;
	top: -2px;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px #ffffff;
	background-color: $kbd-background-color;
	-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-shadow: 0 1px 0 #fff;
}

ul.pager {
	text-align: center;
	list-style: none;
}

ul.pager li {
	display: inline;
	padding: 5px;

	&.selected {
		a {
			font-weight: bold;
		}
	}
}

.search-form {
	width: 100%;
	position: relative;
	display: flex;
	padding-bottom: 30px
}

.search-text {
	width: 100%;
	border: 1px solid $search-border-color;
	border-right: none;
	padding: 5px;
	height: 20px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: $search-color;
	background-color: $search-background-color;

	&:focus {
		color: $search-focus-color;
	}
}

.search-submit {
	width: 90px;
	height: 32px;
	border: 1px solid $search-border-color;
	background: $search-border-color;
	text-align: center;
	color: $search-background-color;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 16px;
}

.qrcode {
	fill: $text-color;
}

.rouge-table {
	border: none;
	margin: 0px 0px 15px 0px;
	overflow-x: auto;
	display: block;
	width: 100%;

	tbody {
		border: none;

		tr {
			background: none !important;
			border: none;

			td {
				padding: 8px 12px;
				border: none;

				pre {
					border: none;
					padding: 0;
					margin: 0;
				}
			}
		}
	}
}

.rouge-gutter {
	position: sticky;
	left: 0;
	color: $lineno-color;
	text-align: right;
	background: $lineno-background-color;
	width: 1px;
	user-select: none;

	pre {
		background: transparent;
	}
}

.highlight {
	width: 100%;
	tab-size: 4;
	&.language-ruby {
		tab-size: 2;
	}
}

.katex-display-table, .katex-display-table td {
	border: none;
	margin: 0px;
	color: inherit;
	padding: 0px;
}

.katex-display-numbered {
	width: 100%;
	text-align: center;
}

.katex-display-number {
	text-align: right;
}

p:has(> .katex-display) {
	overflow-x: auto;
	margin-bottom: 0px;
}

p:has(+ div .katex-display-table), p:has(+ p .katex-display), p:has(+ .katex-display) {
	margin-bottom: 0px;
}

div:has(> .katex-display-table) {
	overflow-x: auto;
}

.line-block {
	margin-bottom: 15px;
}

a[rel~=external] {
	&::after {
		content: "\2197\fe0e"; // shown in case mask-image not supported
		display: inline-block;
		background-color: $link-base-color;
		width: 0.7em;

		--image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path d="M6 1h5v5L8.86 3.85 4.7 8 4 7.3l4.15-4.16L6 1Z M2 3h2v1H2v6h6V8h1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1Z" /></svg>');
		mask-image: var(--image);
		-webkit-mask-image: var(--image);
		mask-size: contain;
		-webkit-mask-size: contain;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;
		mask-position: left 25%;
		-webkit-mask-position: left 25%;
	}
	&:visited::after {
		background-color: $link-visited-color;
	}
	&:hover::after {
		background-color: $link-hover-color;
	}
}

.post-image {
	float: right;
	padding-left: 12px;
	padding-bottom: 6px;
	width: 64px;
}

.rss-subscribe {
	text-align: right;
}

.mastodon-heading {
	font-size: 1.75rem;
}

.mastodon-date {
	font-size: 14px;
	color: var(--minima-brand-color);
}

.mastodon-post-content {
	min-height: 100px;
	padding-bottom: 1px;
}

.mastodon-image {
	float: right;
	padding-left: 12px;
	padding-bottom: 6px;
	height: 100%;
	max-height: 100px;
}

.mastodon-subscribe {
	text-align: right;
}

.update-info {
	text-align: right;
	font-size: 10px;
	color: $brand-color;
}

hr {
	border: 0;
	height: 2px;
	width: 50%;
	position: relative;
	overflow: visible;
	background-image: linear-gradient(
		to right,
		color-mix(in srgb, $hr-background-color 0%, transparent),
		color-mix(in srgb, $hr-background-color 100%, transparent),
		color-mix(in srgb, $hr-background-color 0%, transparent)
	);

	&:before {
		content: $hr-image;
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
	}
}

.post-navi {
	display: flex;
}

.post-navi-date {
	font-size: 0.8em;
	color: $brand-color;
}

.post-navi-item {
	padding: 0 2.2em;
	width: 50%;
	position: relative;
	
	&.navi-prev {
		text-align: left;
		&::before {
			left: 0;
			content: "<";
		}
	}
	&.navi-next {
		text-align: right;
		&::before {
			right: 0;
			content: ">";
		}
	}

	&::before {
		position: absolute;
		top: 50%;
		translate: 0 -50%;
		font-size: 2.5em;
		color: $brand-color-light;
	}
}

summary {
	list-style: none;
	cursor: pointer;
	display: flex;
	&::after {
		content: $summary-image-brand;
		width: 1em;
		margin-left: .75em;
		details[open] > & {
			transform: rotate(180deg);
		}
	}
}

.e-content details {
	padding: 8px;
	background-color: $details-background-color;
	&[open] {
		padding: 8px 8px 0px;
	}
}

.e-content summary {
	justify-content: space-between;
	&::after {
		content: $summary-image;
	}
}

.post-meta dl {
	> dt {
		display: inline-block;
		font-weight: bold;
		padding-right: 1em;
	}

	> dd {
		display: inline;
		&::after {
			display: block;
			content: '';
		}
	}
}

.katex-display:has(+ .qed) {
	margin-bottom: 0px;
}

.katex-display + .qed {
	margin-top: -2em;
	margin-bottom: 1em;
}

.qed {
	float: right;
}

.e-content, .mastodon-post-content, .post-list-item, .post-header, .footer-col {
	p, ol, ul, dl, h1, h2, h3, h4, h5, h6 {
		text-align: justify;
	}
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	text-align: center;
	iframe, object, embed {
		border: 0;
		position: absolute;
		top: 0;
		left: 50%;
		width: 100%;
		height: 100%;
		translate: -50% 0;
	}
}

@import "gitalk";
